html{
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    font-size: 18px;
    margin: auto;
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(100deg, var(--primary-color) , var(--secondy-color)); 
    // overflow: hidden;

    &.active{
        overflow: hidden;
    }
}