.header {
    color: var(--text-color);
    position: fixed;
    top: 0;
    max-width: 1440px;
    width: 100%;
    z-index: 20;

    background: var(--glass-color);
    box-shadow: 0 4px 15px 0 var(--boxShadow-color);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius:0 0 10px 10px;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1rem;

        .navbar {
            display: inline-flex;
            
            li{
                margin-left: 2rem;
                cursor: pointer;

                &:hover{
                    transition: all 0.2s ease-in;
                    color: var(--highlighter-color);
                }
            }
        }
    }
}
